body {
    background-color: #f9efe9;
    color: #33371c;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 40px;
    text-align: center;
    color: #1e1e1e;
}

a,
a:hover {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

.row {
    margin-left: 5%;
    margin-right: 5%;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

#header .logo a {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    max-height: 40px;
}

#header.header-scrolled {
    background: rgba(149, 52, 43, 0.9);
    padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    height: 25px;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media only screen and (max-width: 800px) {
    .navbar {
        height: 35px;
    }

    #header {
        max-height: 20px;
    }
    
    #header .logo {
        font-size: 20px;
    }
    
    #header.header-scrolled {
        max-height: 50px;
        background: rgba(149, 52, 43, 0.9);
        padding: 0;
    }
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 0 0 10px 30px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 80%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}

.overlay-mf {
    background-color: #0078ff;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.sect-mt4 {
    margin-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
    margin-bottom: 4rem;
}

.title-a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle-a {
    text-decoration: none;
    color: #4e4e4e;
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}

/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/
#frame { 
    display: flex;
    background: #CA7C4E;
    background: -webkit-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
    background: -moz-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
    background: -o-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
    background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
    height: 90vh;
    width: 100%;
    opacity: 0.9;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 75px;
    padding-top: 2%;
    padding-left: 4%;
    height: 75%;
    width: 80%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.profile .name {
    display: flex;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.profile img {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 150px;
    height: 150px;
    margin-right: 4%;
    border-radius: 50%;
    background: #f5dece;
}

.profile img:hover {
    cursor: pointer;
}

.profile .job {
    display: flex;
    margin-bottom: 30px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.12);
    font-size: 17px;
}

.profile .job .text-slider-items {
    display: none;
}

.profile p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.profile a {
    text-decoration: none;
    color: inherit;
}

.profile i {
    margin-right: 10px;
    transform: scale(1.3);
}

.profile .links {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-top: 10px;
}

.profile .links i {
    padding: 5px;
    background-color: #a3010e;
    border-radius: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    color: white;
}

.profile .links i:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.profile .about {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 8%;
    right: 8%;
}

@media only screen and (max-width: 800px) {
    .profile .about {
        width: 70%;
        height: 70%;
        flex-direction: column;
        align-items: flex-end;
        top: 20%;
        right: 2%;
    }

    #gitstats{
        width: 70%;
        height: 70%;
    }
}

@media only screen and (max-width: 650px) {
    .profile .about {
        width: 60%;
        height: 60%;
        flex-direction: column;
        align-items: flex-end;
        top: 20%;
        right: 2%;
    }
}

@media only screen and (max-width: 520px) {
    #frame {
        height: 110vh;
    }

    .profile .about {
        top: 62%;
        right: 26%;
        width: 100%;
    }

    #gitstats {
        width: 70%;
        height: 80%;
    }

    .profile .about p {
        visibility: hidden;
    }
}

.profile .about p {
    width: 70%;
    padding: 10px;
    font-size: 15px;
    background-color: #fff8f4;
    border: 1.5px solid rgb(90, 62, 62);
    border-radius: 7px;
}

/*--------------------------------------------------------------
# Project Card
--------------------------------------------------------------*/
#project {
    padding-top: 60px;
    padding-bottom: 20px;
    /**
    background: #eaa3a0;
    background: -webkit-linear-gradient(bottom left, #EEC0C6 0%, #E58C8A 100%);
    background: -moz-linear-gradient(bottom left, #EEC0C6 0%, #E58C8A 100%);
    background: -o-linear-gradient(bottom left, #EEC0C6 0% #E58C8A 100%);
    background: linear-gradient(to top right, #EEC0C6 0%, #E58C8A 100%);
    **/

}

#experience {
    padding-top: 80px;
    padding-bottom: 40px;
    background: #ffd3cc;
    /**
    background: -webkit-linear-gradient(bottom left, #D7E9E6 0%, #79AEA3 100%);
    background: -moz-linear-gradient(bottom left, #D7E9E6 0%, #79AEA3 100%);
    background: -o-linear-gradient(bottom left, #D7E9E6 0% #79AEA3 100%);
    background: linear-gradient(to top right, #D7E9E6 0%, #79AEA3 100%);   
    **/ 
    opacity: 0.9;
}

#experience h1 {
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 5%;
}

#hackathon {
    padding-top: 80px;
    padding-bottom: 40px;
    background: #49769e;
    /**
    background: -webkit-linear-gradient(bottom left, #A4BFEF 0%, #396184 100%);
    background: -moz-linear-gradient(bottom left, #A4BFEF 0%, #396184 100%);
    background: -o-linear-gradient(bottom left, #A4BFEF 0% #396184 100%);
    background: linear-gradient(to top right, #A4BFEF 0%, #396184 100%);
    **/
    opacity: 0.9;
}

#award {
    padding-top: 60px;
    padding-bottom: 20px;
}

#project-card {
    position: relative;
    display: block;
    height: 220px;
    min-width: 300px;
    max-width: none;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 30px;
    border-radius: 20px;
    white-space: normal;
    background-clip: border-box;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

#project-card:hover {
    height: 300px;
    transition: all 1s;
}

#project-card .description {
    position: relative;
    text-align: justify;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

#project-card:hover .description {
    visibility: visible;
    opacity: 1;
    margin-top: 15px;
    transition-delay: 0.3s;
}

.card1 {
    background-color: #f8e3cd;
}

.card2 {
    background-color: #FFD2CF;
}

.card3 {
    background-color: #f4d2dd;
}

.card4 {
    background-color: #dcd3e6;
}

.card5 {
    background-color: rgb(212, 212, 255);
}

.card6 {
    background-color: rgb(179, 162, 224);
}

.project-title {
    display: block;
    width: 88%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    direction: ltr;
    font-family: 'Garamond';
    font-size: 26px;
    font-weight: 300;
    text-transform: none;
    white-space: normal;
}

.project-subtitle {
    position: relative;
    bottom: 0px;
    z-index: 2;
    color: hsla(0, 75%, 13%, 0.65);
    font-size: 16px;
    text-decoration: none;
}

.language-icons {   
    position: absolute;
    width: 100%;  
    bottom: 5%;
    left: 2%;
    scale: 0.8;
}
